@media (min-width: 1200px){
  .container {
    width: 1140px;
    max-width: 100%;
    margin: auto;      
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding:16px; 
}

.rightSide {
  display: flex;
  flex-grow: 1;
  flex-basis: 512px;
  flex-direction: column;
}

.logoContainer {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
}

.logo {
  max-width: 440px;
  width: 100%;
}

.firstRow {
  display: flex;
  flex-direction: row;
}

.secondRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
