.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 2.5rem; 
}

.rightSide {
  display: flex;
  flex-direction: column;
}

.logoContainer {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  min-height: 608px;
}

.logo {
  width: 100%;
}
