.modalContainer {
	position: absolute;
	top: 0;
	background: #fff;
	width: 100%;
	margin: 0 -16px;
}

.navbar {
	background-color: #e3f2fd;
	flex-direction: row;
	>a {
		flex-grow: 1;
	}
	button {
		cursor: pointer;
	}
}