.modalContainer {
	width: 100%;
	max-width: initial;
	margin:0;
	>div {
		border: none;
		border-radius: 0px;
	}
}

.navbar {
	background-color: #e3f2fd;
	flex-direction: row;
	>a {
		flex-grow: 1;
	}
	button {
		cursor: pointer;
	}
}