.rolesRow {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  align-items: center;
}

.rolesRowFormGroup {
  padding: 8px 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 0;
  > label {
    margin-right: 8px;
    margin-bottom: 0;
  }
}

.capitalizeDropdownItem {
  text-transform: capitalize;
}

.rowDropdown {
  margin-right: 8px;
}