.item {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  display: flex;
  padding: 8px;
  margin-bottom: 4px;
}

.label {
  flex-grow: 1;
}

.deleteButton {
  flex-grow: 0;
  flex-basis: 20px;
  color: #adadad;
  &:hover {
    color: #0275d8;
    cursor: pointer;
  }
}