.ServiceInfoCard {
  width: 100%;
  display: flex;
  margin: 0.5rem 0;
}

.serviceInfoModal {
  max-width: 80%;
}

.secretsModal {
  max-width: 80%;
}

.buttonsContainer {
  text-align: right;
  button {
    cursor: pointer;
  }
}

.tagsRenderer {
  display: flex;
  flex-wrap: wrap;
  span {
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
  }
}

.logoContainer {
  flex-basis: 72px;
  flex-grow: 0;
}

.infoContainer {
  flex-grow: 1;
}

.wrapper {
  display: flex;
}

.titleRow {
  display: flex;
}

.title {
  flex-grow: 1;
}