.ServiceInfoCard {
  width: 100%;
  margin: 0.5rem 0;
}

.serviceInfoModal {
  max-width: 80%;
}

.secretsModal {
  max-width: 80%;
}

.buttonsContainer {
  text-align: right;
  button {
    cursor: pointer;
  }
}