.rolesRow {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.modal {
  max-width: 800px;
}

.logoRow {
  margin-left: 0;
  margin-right: 0;
  align-items: center;
}

.logo {
  flex-basis: 64px;
  margin: 8px 8px 8px 0;
}

.logoInput {
  flex-grow: 1;
  flex-basis: 90%;
}

.longDescriptionMessage {
  margin-top: 16px;
  margin-bottom: 8px;
}

.longDescriptionPane {
  padding-top: 8px;
}

.longDescriptionTextArea {
  min-height: 160px;
}

.generalForm {
  padding-top: 8px;
}

.shortDescriptionForm {
  padding-top: 8px;
  p {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
  }
}