.searchFormGroup {
  position: relative;
}

.searchInput {
  padding-right: 32px;
}

.searchIndicator {
  position: absolute;
  top: 8px;
  right: 8px;
}

.cleanSearchBtn {
  composes: searchIndicator;
  &:hover {
    cursor: pointer;
    color: #0275d8;
  }
}

.rolesDropdown {
  overflow-y: scroll;
  height: 160px;
}

.rowHead {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;

}

.panelContainer{
  background-color: #fafafa;
  padding-top: 8px;
}