.searchFormGroup {
  margin: 8px;
  flex-basis: 70% !important;
  flex-grow: 1 !important;
  position: relative;
}

.searchInput {
  padding-right: 32px;
  width: 100% !important;
}

.searchIndicator {
  position: absolute;
  top: 10px;
  right: 10px;
}

.cleanSearchBtn {
  composes: searchIndicator;
  &:hover {
    cursor: pointer;
    color: #0275d8;
  }
}

.rolesContainer {
  overflow-y: scroll;
  height: 160px;
}

.rowHead {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;

}

.panelContainer{
  background-color: #fafafa;
  padding-top: 8px;
}

.searchForm {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.rolesFormGroup {
  flex-wrap: nowrap !important;
  flex-grow: 1 !important;
  flex-basis: 250px !important;
  margin: 8px;
}

.rolesDropdown {
  flex-grow: 1;
  >button {
    width:100%;
    text-align: left;
    &::after{
      float:right;
      margin-top: 8px;
    }
  }
}

.serviceList{
  > div {
    width: 100%;
    }
}

.roleDropdownItem {
  padding: 0;
}

.roleLink {
  padding: 3px 1.5rem;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
  :hover{
    text-decoration: none !important;
    color:auto;
  }
}