.servicesListRow {
  padding: 8px;
}

.loadItem {
  text-align: center;
}



.infiniteRow {
  height: 256px;
  padding-left: 16px;
  padding-right: 16px;
  >{
    margin-left: 16px;
    margin-right: 16px;
    width: 512px;
  }
  justify-content: space-around;
  display: flex;
  margin-bottom: 32px;
}

.lastInfiniteRow {
  composes: infiniteRow;
  justify-content: flex-start;

}