.card {
  cursor: pointer;
}

.container {
  margin:auto;
  width: 100%;
}

.roleBadge {
  margin: 0 4px;
}

.buttonsRow {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin:0 4px;
}
