.card {
  cursor: pointer;
  height: 100%;

  
  
}

.container {
  margin:auto;
  width: 100%;
}

.roleBadge {
  margin: 0 4px;
}

.buttonsRow {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.button {
  margin:0 4px;
}

.rolesContainer{
  padding: 0 15px;
}

.secondBlock {
  padding: 1.25rem 0;
}

.cardContainer{
  display: flex;
  padding:16px;
  flex-direction: column;
  height: 100%;
}

.rowHeader{
  flex-grow: 1;
}