.card {
  height: 100%;
  button {
    cursor: pointer;
  }
}

.container {
  margin:auto;
  width: 100%;
}

.roleBadge {
  height: 18px;
}

.buttonsRow {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.rolesContainer{
  padding: 0 15px;
}

.secondBlock {
  padding: 1.25rem 0;
}

.cardContainer {
  display: flex;
  padding:16px;
  flex-direction: column;
  height: 100%;
}

.rowHeader {
  flex-grow: 1;
}

.serviceInfoModal {
  max-width: 80%;
}

.secretsModal {
  max-width: 80%;
}

.tagsRenderer {
  display: flex;
  flex-wrap: wrap;
  span {
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
  }
}

.buttonsContainer {
  display: flex;
}

.adminButtons {
  flex-grow: 1;
  text-align: left;
}

.standarButtons {
  flex-grow: 1;
  text-align: right;
}

.titleRow {
  display: flex;
}

.title {
  flex-grow: 1;
}